[package]
name = "adblock"
publish = false
version = "0.3.1"
authors = ["Ãrni Dagur <arni@dagur.eu"]
edition = "2018"
license = "MIT OR Apache-2.0"

[profile.release]
debug = true

[dependencies]
adblock = { version = "0.3.2", default-features = false, features = ["full-regex-handling", "embedded-domain-resolver"] }
pyo3 = "0.11"

[lib]
name = "adblock"
crate-type = ["rlib", "cdylib"]

[features]
default = ["pyo3/extension-module"]
