[package]
name = "adblock"
publish = false
version = "0.2.1"
authors = ["Ãrni Dagur <arni@dagur.eu"]
edition = "2018"
license = "MIT OR Apache-2.0"

[profile.release]
debug = true

[dependencies]
adblock = "0.2.9"
pyo3 = "0.10"

[lib]
name="adblock"
crate-type = ["rlib", "cdylib"]

[features]
default = ["pyo3/extension-module"]
