[package]
name = "adblock"
publish = false
version = "0.1.0"
authors = ["Ãrni Dagur <arni@dagur.eu"]
edition = "2018"

[dependencies]
adblock = "0.2.6"
pyo3 = "0.9"
failure = "0.1"

[lib]
name="adblock"
crate-type = ["rlib", "cdylib"]

[features]
default = ["pyo3/extension-module"]
